.shop-category img{
    display: block;
    margin: 30px  auto;
    width: 82%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px ;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-sort img{
    height: 10px;
    width: 15px;
    padding: 0;
    margin: 0;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin-right: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 80px;
    padding: 40px;
    justify-content: center;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}